.nav-link {
     opacity:0.7;
}

.nav-link:hover {
     opacity:  1;
     background-color: #eee !important;
}

header {
    /*Sizing of the element*/
    height:  500px;
    width: 100%;
    /*Set and adjust background image*/
    background-image: url("soccer.jpg");
    background-size: cover;
    
    /*Center the text*/
    text-align: center;
    font-family: 'Noto Serif', serif;
}
header p {
    font-style: italic;
}
.services i {
    height: 80px;
    width: 80px;
    color: white;
    background-color: red;
    padding: 25px 20px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;

}


