body {
    background-color: red;
}



.nav-link {
     opacity:0.7;
}

.nav-link:hover {
     opacity:  1;
     background-color: #eee !important;
}

header {
    /*Sizing of the element*/
    height:  500px;
    width: 100%;
    /*Set and adjust background image*/
    background-image: url("coding.jpg");
    background-size: cover;
    color: white;
    
    
    
    /*Center the text*/
    text-align: center;
    font-family: 'Noto Serif', serif;
}
header p {
    font-style: italic;
}
.services i {
    height: 80px;
    width: 80px;
    color: white;
    background-color: red;
    padding: 25px 20px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;

}
.team h1 {
    text-align: center;
    font-weight: bold;
    background-color: yellow;
    color: red;
    font-family: monospace;
    

}
.team img {
    height: 150px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%
}
.contact {
    margin: 40px;
}

.contact h1 {
    text-align: center;
    font-weight: bold;
    background-color: green;
}

.contact i {
     padding: 10px;
}

.contact .input-group {
     margin: 20px;
}

.contact .btn {
    width: 100%;
    font-size: 20px;
    border-radius: 0;
    background-color: red;
    border: yellow;
    
}

.contact .text-area {
    height: 200px;
}
.social-media-btn {
    background-color: red;
    
    
}
footer {
    background-color: #222222;
    height:200px;
    width: 100%;
    color:#fff;
    padding-top: 25px;
    
}
footer i{
    color: #fff;
    font-family: "Monserrat",sans-serif;
    padding-top:15px;
}










.services h1:hover {
    background: #ddd;
    color: blue;
}

.services i:hover {
    background: #ddd;
    color: blue;
}




.team img:hover {
    border: 4px solid #89cff0;
    color: red;
}
.team{
    background-color: violet;
    
}
 .services {
     background-color: violet;
 }
 
 
 .contact {
     background-color: gray;
}


.section img {
    border: 4px solid #89cff0;
}